# Allow sourcing external files
external-sources=true
# Allow sourcing files from the script's directory
source-path=SCRIPTDIR
# Allow `local` variables in POSIX sh
disable=SC3043
# Disable "This function is never invoked." because of many test functions
disable=SC2329